<%- include('includes/header'); %>

<h1><%= Book[0].name %></h1>
<p><%= Book[0].year %></p>
<img src="/assets/uploads/<%= Book[0].img %>" alt=<%= Book[0].name %> style="float:right;width:200px;" />

<div style="background:#eeeeee;display:inline-block;padding:50px;">
	<h2>Author</h2>
	<p>Name: <%= Book[0].author.name %> </p>
	<p>Age: <%= Book[0].author.age %> </p>
</div>

<%- include('includes/footer'); %>